<footer class="page-footer indigo darken-4 z-depth-2">
    <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Red-Ribbon</h5>
        <p class="grey-text text-lighten-4">...</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Extras</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <!--<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>-->
          <!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
          <!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
        </ul>
      </div>
    </div>
    </div>
    <div class="footer-copyright">
    <div class="container">
    Red-Ribbon ©2016-2017
    <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
    </div>
</footer>