<div class="navbar-fixed hide-on-med-and-down">
    <nav>
        <div class="nav-wrapper red darken-1 z-depth-2">
            <a href="admin#/" class="brand-logo blue-grey-text text-lighten-5 center">Bliss<i class="material-icons">toys</i></a>
            <ul class="left">
                <li><a class="dropdown-button" href="#" data-activates="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="admin#/branches">Branches</a></li>
              <li><a href="admin#/products">Products</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="hide-on-large-only" ng-cloak>
    <nav>
        <div class="nav-wrapper red darken-1 z-depth-2">
            <a href="/#home" class="brand-logo blue-grey-text text-lighten-5 center">Red-Ribbon<i class="material-icons">toys</i></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="admin#/branches">Branches</a></li>
                <li><a href="admin#/products">Products</a></li>
            </ul>
        </div>
    </nav>
</div>