<form class="center-allign">
    <div class="input-field col s1">
        <input id="username" type="text" class="validate">
        <label for="username">Nombre de Usuario</label>
    </div>
    <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Contrase&ntilde;a</label>
    </div>
    <button type="submit" class="waves-effect waves-light btn">Iniciar Sesión</button>
</form>
