<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Nombre Completo" id="fullName" type="text" class="validate">
                <label for="fullName" class="active">Nombre Completo</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate">
                <label for="username">Nombre de Usuario</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Contrase&ntilde;a</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Registrarse<i class="material-icons right">send</i>
        </button>
    </form>
</div>
