<div class="center-align hoverable">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title">Error 404</span>
            <p class="flow-text">Haz llegado aquí por error.</p>
        </div>
        <div class="card-action blue-grey darken-2">
            <a href="/">Volver al inicio</a>
        </div>
    </div>
</div>
