<h3>
    Create Product</h3>
<div class="row">
    <form class="col s12" novalidate>
        <div class="row">
            <div class="input-field col s12">
                <input id="fullName" type="text" class="validate" ng-model="product.name">
                <label for="fullName" class="">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="fullName" type="number" ng-model="product.price">
                <label for="fullName" class="">Price</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" ng-model="product.description"></textarea>
                <label for="textarea1">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="fullName" type="text" class="validate" ng-model="product.imgUrl">
                <label for="fullName" class="">Image Url</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <select ng-init="product.available='true'" ng-model="product.available">
                  <option value="true" selected>Available</option>
                  <option value="false">Not Available</option>
                </select>
                <label>Availability</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="vm.save(product)">
                    Save Product
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    /*global $*/
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
