<h3>Products</h3>

<table class="bordered striped highlight" ng-init="vm.loadProducts()">
    <thead>
        <tr>
            <th data-field="Name">Name</th>
            <th data-field="Decription">Decription</th>
            <th data-field="Price">Price</th>
            <th data-field="Availability">Availability</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="product in vm.products">
            <td>{{product.name}}</td>
            <td class="truncate">{{product.description}}</td>
            <td>{{product.price | currency}}</td>
            <td ng-if="product.available" style="background: lightgreen"></td>
            <td ng-if="!product.available" style="background: lightred"></td>
            <td><button ng-click="vm.deleteProduct(product._id)" class="waves-effect waves-light btn red"><i class="material-icons right">delete</i>delete</button></td>
        </tr>
    </tbody>
</table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" href="admin#/products/create">
        <i class="large material-icons">add</i>
    </a>
</div>
