<section class="content">
    <div class="container">
        <label><h2>Select your nearest Bliss restaurant</h2></label>
        <select ng-model="vm.selectedBranch" ng-change="vm.getBranchEvents()">
            <option value = ''>Select a restaurant</option>
            <option ng-repeat="branch in vm.branches" value="{{branch}}">{{branch.name}}</option>
        </select>
        <h1>
            <div ng-show="vm.branchName">Events near {{vm.branchName}}</div>
        </h1>
        <div class="row">
            <div class="grid_7">

                <div class="blog" ng-repeat="event in vm.events">
                    <div class="blog_title"><a href="#">{{event.name}} </a></div>
                    <img ng-src="{{event.coverPicture || '/assets/img/404.jpg'}}" alt="">
                    <p>{{event.venue.about}}</p>
                    <p>{{event.description}} </p>
                    <table>
                        <tbody>
                            <tr>
                                <td><time datetime="{{event.startTime}}">
                <span class="fa fa-calendar"></span>
                {{event.startTime | date: 'medium' }}   
              </time> </td>
                                <td>
                                    <a href="mailto:{{event.venue.emails}}">
                                        <div class="fa fa-user"></div> {{event.venue.emails[0]}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fa fa-bookmark"></div> {{event.type}} </td>
                                <td colspan="2">
                                    <a target="_blank" href="http://maps.google.com/?q={{event.venue.location.street}}, {{event.venue.location.city}}, {{event.venue.location.country}}">
                                        <div class="fa fa-map-marker"></div>{{event.venue.location.street}}, {{event.venue.location.city}}, {{event.venue.location.country}}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="fa fa-comments"></div> No commentts </td>
                                <td colspan="2">
                                    Attending:{{event.stats.attending}}
                                    <div class="fa fa-check"></div>
                                    Declined:{{event.stats.declined}}
                                    <div class="fa fa-close"></div>
                                    Maybe:{{event.stats.maybe}}
                                    <div class="fa fa-minus"></div>
                                    No reply:{{event.stats.noreply}}
                                    <div class="fa fa-circle"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="" class="btn">more</a>
                </div>

            </div>
            <div class="grid_4 preffix_1">
                <h2>Categories</h2>
                <ul class="list">
                    <li><a href="#">Herem ipsum dolor </a></li>
                    <li><a href="#">sit Komet,tetur </a></li>
                    <li><a href="#">Odipiscingt</a></li>
                    <li><a href="#">In mollis eratttis </a></li>
                    <li><a href="#">Neque Loacilisis, sit </a></li>
                    <li><a href="#">Amet ultret</a></li>
                    <li><a href="#">Icies erat rutrums </a></li>
                </ul>
                <h2>Recent Posts</h2>
                <div class="block3">
                    <img src="../../assets/img/page4_img4.jpg" alt="" class="img_inner noresize fleft">
                    <div class="extra_wrapper">
                        <div class="text1 color1">
                            <time datetime="2014-01-01">20-05-2014</time>
                            <a href="#">Hivamus at magnate </a>
                        </div>Rehoncus. Aliquam nibh tegestas id ictum ado. Praesentertoaucibus maleada faucibusnec <a href="#" class="color1">[...]</a>
                    </div>
                </div>
                <div class="block3">
                    <img src="../../assets/img/page4_img5.jpg" alt="" class="img_inner noresize fleft">
                    <div class="extra_wrapper">
                        <div class="text1 color1">
                            <time datetime="2014-01-01">25-05-2014</time>
                            <a href="#">Livamus aot magte </a>
                        </div>Tehoncus. Aliquam nibh tegestas id ictum ado. Praesentertoaucibus maleada faucibusnece <a href="#" class="color1">[...]</a>
                    </div>
                </div>
                <div class="block3">
                    <img src="../../assets/img/page4_img6.jpg" alt="" class="img_inner noresize fleft">
                    <div class="extra_wrapper">
                        <div class="text1 color1">
                            <time datetime="2014-01-01">28-05-2014</time>
                            <a href="#">Kivamus aagnateme </a>
                        </div>
                        Mehoncusiquam nibh tegestas id ictum ado. Praesentertoaucibus maleada faucibusnec dert <a href="#" class="color1">[...]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>