<footer>
  <div class="wrapper">
    <section class="footer_nav">
      <nav>
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </section>
  </div>
</footer>
<!--  end footer  -->
