<header>
    <!--==============================
            Stuck menu
=================================-->
    <section id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1>
                        <a href="">
                            <img src="../../assets/img/logo.png" alt="Logo alt">
                        </a>
                    </h1>
                    <nav>
                        <div class="navigation ">
                            <ul class="sf-menu">
                                <li><a href="#home">home</a></li>
                                <li><a href="#menu">menu</a></li>
                                <li><a href="#reservation">reservation</a></li>
                                <li><a href="#blog">blog</a></li>
                                <li><a href="#contact">contacts</a></li>
                            </ul>
                    </nav>
                    <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
