<section class="content gallery pad1">
  <div class="container">
    <div ng-repeat="bulk in vm.productsBulks">
      <div class="row">
        <div class="grid_4" ng-if="product.available" ng-repeat="product in bulk">
          <div class="gall_block">
            <div class="maxheight">
              <a ng-href="{{product.imgUrl}}" class="gall_item"><img ng-src="{{product.imgUrl}}" alt=""></a>
              <div class="gall_bot">
                <div class="text1">{{product.name}}</div>
                {{product.description}}
                <br>
                <a href="#" class="btn">more</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
