<h3>Branches</h3>

<table class="bordered striped highlight" ng-init="vm.loadBranches()">
    <thead>
        <tr>
            <th data-field="Name">Name</th>
            <th data-field="Country">Country</th>
            <th data-field="State">State</th>
            <th data-field="City">City</th>
            <th data-field="Manager">Manager</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="branch in vm.branches">
            <td>{{branch.name}}</td>
            <td>{{branch.country}}</td>
            <td>{{branch.state}}</td>
            <td>{{branch.city}}</td>
            <td>{{branch.manager}}</td>
            <td><button ng-click="vm.deleteBranch(branch._id)" class="waves-effect waves-light btn red"><i class="material-icons right">delete</i>delete</button></td>
        </tr>
    </tbody>
</table>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" href="admin#/branches/create">
        <i class="large material-icons">add</i>
    </a>
</div>
