<h3>Create Branch</h3>
<div class="row">
    <form class="col s12" novalidate>
        <div class="row">
            <div class="input-field col s12">
                <input id="fullName" type="text" class="validate" ng-model="branch.name">
                <label for="fullName" class="">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="fullName" type="text" class="validate" ng-model="branch.manager">
                <label for="fullName" class="">Branch Manager</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" ng-model="branch.country">
                <label for="username">Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="text" class="validate" ng-model="branch.state">
                <label for="password">State</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" class="validate" ng-model="branch.city">
                <label for="email">City</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" class="validate" ng-model="branch.latitude">
                <label for="email">Latitude</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="text" class="validate" ng-model="branch.longitude">
                <label for="email">Longitude</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="vm.save(branch)">
            Save Branch
        </button>
    </form>
</div>
